.form-control {
	background-color: transparent;
}

span.floating-span {
	position: absolute;
	z-index: -1;
	transition: margin-left ease .1s;
	&.form-control {
		border: 1px solid transparent;
		width: auto;
	}
}