doctype html
html(ng-app="speedvocab")
	head
		title Hi
		script(src="bower_components/angular/angular.min.js")
		script(src="/socket.io/socket.io.js")
		script(src='bower_components/angular-socket-io/socket.min.js')
	body(ng-controller="MainController as main")
		if fullName
			h1 Hi #{fullName}
			h1 Email: #{email}
			
		
		script(src='js/dest/bundle.js')
		script(src='http://localhost:35729/livereload.js')
