.row
	.col-sm-6
		form.form-group((ngSubmit)="submit(f)", #f="ngForm")
			label.label-control Word
			//- div
			input.form-control(type='text', name="word", placeholder="Enter a word:", required, ngControl="word")
			br
			label.label-control Meaning
			input.form-control(type='text', placeholder="Now enter its meaning", name="meaning", ngControl="meaning", required)
			br
			label.label-control Image References
			input(name="tags", tags-input, [tags-input-control-name]="tags", ngControl="tags", #tags="ngForm")
			//- input.
			br
			button.btn.btn-success(type="submit", [disabled]="!f.valid") Submit
		input.form-control(placeholder="Type search key", #key="", type="text", (input))
		input.form-control(placeholder="Type tag search key", #tagKey="", type="text", (input))
	.col-sm-6
		h2 Filter for terms containing "{{key.value}}"

		//- div(*ngFor="#term of terms | contains:key.value")
		//- 	term([term]="term")
		div(*ngFor="#immTerm of immTerms | contains:key.value | searchByTag:tagKey.value ")
			term([term]="immTerm")

		//- br
		| {{immTerms | length}} <br>
		| {{terms | generalizeFolder}}
		code This doesn't work if 'terms' is mutable
