.row
	.col-sm-6
		form.form-group((submit)="submit($event)", #newTermForm="ngForm")
			label.label-control Word
			//- div
			input.form-control(type='text', name="word", placeholder="Enter a word:", required, ngControl="word", #word="ngForm")
			span([hidden]="word.valid || word.untouched") Please enter a word
			br
			label.label-control Meaning
			input.form-control(type='text', placeholder="Now enter its meaning", name="meaning", ngControl="meaning", #meaning="ngForm", required)
			span([hidden]="meaning.valid || meaning.untouched") Please its meaning too
			br
			label.label-control Image References
			input(name="tags", tags-input="")
			//- input.
			br
			button.btn.btn-success(type="submit", [disabled]="!newTermForm.valid") Submit
		input.form-control(placeholder="Type of search key", #key="", type="text", (input)) 
		br
		h2 Filter for terms containing "{{key.value}}"

		//- div(*ngFor="#term of terms | contains:key.value")
		//- 	term([term]="term")
		div(*ngFor="#immTerm of immTerms | contains:key.value")
			term([term]="immTerm")

		//- br
		| {{immTerms | length}} <br>
		| {{terms | generalizeFolder}}
		code This doesn't work if 'terms' is mutable
